[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap3 = "==21.2"
psycopg2 = "==2.9.3"
asgiref = "==3.5.2"
"backports.zoneinfo" = "==0.2.1"
sqlparse = "==0.4.2"
config = "==0.3.9"
gunicorn = "==20.0.0"
Django = "==4.0.4"
Pillow = "==9.1.1"
pytz = "==2022.1"
python-config = "==0.1.2"
whitenoise = "==6.1.0"
django-bootstrap = "==0.2.4"
django-heroku = "==0.3.1"
certifi = "==2022.5.18.1"
cloudinary = "==1.29.0"
dj-database-url = "==0.5.0"
six = "==1.16.0"
urllib3 = "==1.26.9"
beautifulsoup4 = "==4.11.1"

[dev-packages]

[requires]
python_version = "3.8.10"
