{%extends 'base.html'%}
{% block content %}

<div class="container text-center">
    <h2 class="int">Photos shot at{{location}}</h2>

</div>
<div class="container text-center">
    <div class="row">
        {% for image  in location_images %}
        <div class="col-md-3 image-box">
            <div class="card card1" style:"width:auto;">
                <img src="{{ image.image.url}}" class="card-img-top" id="{{image.id}}" alt ="Card Image Cap" data-target="#mmodal{{for loop.counter}}" aria-hidden="true">
                <div class=" modal fade animated" id="mmmodal{{for loop.counter}}" style="opacity:0.9"> 
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-center img-name">{{image.image_name}}</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class = "modal-body text-center">
                            <img class="card-image-top" id= "img{{img.id}}" alt="" src="{{image.image.url}}" width="150">
                            <p class="card-text picture">Image Description: {{image.image_decsription}}.</p>
                            <p class="card-text photo">Image Location: {{image.location}}</p>
                            <p class="card-text category">{{image.category}}</p>
                            <div class= "col-md-10 padding-1">
                                <input id="{{image.id}} -url" class="form-control" type="text" value="">

                            </div>
                            <button type="button" class="btn btn-primary" onclick="copy('#{{image.id}}-url')">Copy Link</button>

                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div> 

            </div>


        </div>
    
</div>
{% endfor %}
<hr />
{% endblock %}